.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;

  span {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  img {
    width: 10px;
  }
}

.categoriesContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (width >= 800px) {
  .categoriesContainer {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 40px;
  }
}

@media (width >= 1200px) {
  .categoriesContainer {
    gap: 80px;
  }
}
